.si {
    background-color: #FFAC6A;
    text-align: center;
    color: black  ;
    font-size: 55px;
    margin: 0px;
    padding: 15px;
}


body {background-image: url(https://images-na.ssl-images-amazon.com/images/I/51QnyH%2BYU4L._AC_SY355_.jpg); margin: ;

}

.no {

    background-color:#FFAC6A;
margin-left: 250px;
margin-right: 250px;
margin-top: 90px;
margin-bottom: 90px;
padding: 20px;
font-size: 40px}


float: auto;